<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Agregar usuarios</h2>
        <form action="/usuarios/formulario/nuevo" method="POST">
            <fieldset>
                <legend>Datos del usuario:</legend>
                <div>
                    <label>Nombre: <input type="text" name="nombre"></label>
                </div>
                <div>
                    <label>Email: <input type="text" name="email"></label>
                </div>
                <div>
                    <label>Contraseña: <input type="password" name="password"></label>
                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>
